# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Quarto build outputs
_site/
_build/
.quarto/
**/*.quarto_ipynb
**/*.quarto_ipynb*


# Docs
docs/

/.quarto/
